<div class="container">
  <div class="text-center">
    <h1>User: <%= @user.email %></h1>
    <h2><%= @user.full_name %></h2>

  </div>
  <div class="wrapp">
    <div class="division1 text-left">

        <%= link_to new_user_sensei_path(@user) do %>
        <%= image_tag "class.png", class: 'card' %>
        <h2>
            Seja um Sensei
        </h2>
          <% end %>

    </div>
    <div class="division2 text-right">

      <h2>
        <%= link_to new_user_student_path(@user) do %>
        <%= image_tag "contents.png", class: 'card' %>
        <h2>
          Seja um Student </h2>
        <% end %>
    </h2>
  </div>

  </div>
</div>
